body {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(#494f58, #60687c, #3f4448);
    max-width: 100%;
    display: flex;
    color: white;
    justify-content: center;
}

.have-rupee {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.have-rupee p {
    font-weight: bold;
    font-size: 1.5em;
}

.have-rupee input {
    border: 1px solid #e4e2e2;
    border-radius: 29px;
    width: 4em;
    height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.total-rupee {
    display: flex;
    justify-content: center;
    padding: 55px;
    background-color: #efe2cc;
}

.total-rupee input {
    background-color: #efe2cc;
    border: none;
    border-radius: 30px;
    width: 2em;
    height: 2em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #ed462f;
}

.total-rupee p {
    font-size: 26px;
}

.fruits p {
    padding: 0px 92px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.5em;
}

.heading {
    margin-top: 0px;
    background-color: #346e34;
    color: white;
}

.fruits {
    padding: 30px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#494f58, #60687c, #3f4448);
    justify-content: space-evenly;
}

.fruits figure {
    width: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    padding-bottom: 15px;
    border-radius: 5px;
    flex-direction: column;
    margin: 40px;
}

.buy-fruit {
    display: flex;
    width: 118px;
    justify-content: center;
    margin: 0;
    height: 29px;
    z-index: 2;
    border: 1px solid #7f8283;
    text-align: center;
    border-radius: 23px;
}

.buy-fruit button {
    text-align: center;
    border: none;
    color: white;
    font-size: 1em;
    padding: 11px;
    background-color: #494f58;
}

.less {
    margin-right: 0px;
    border-radius: 20px 0px 0px 20px;
}

.more {
    margin-left: 0px;
    border-radius: 0px 20px 20px 0px;
}

figcaption {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
}

.buy-fruit input {
    text-align: center;
    border: none;
    width: 99px;
    height: 28px;
    background-image: linear-gradient(#cac8c8, white);
}

.less:hover {
    cursor: pointer;
}

.more:hover {
    cursor: pointer;
}

footer {
    color: white;
    padding: 30px;
}

@media screen and (max-width: 650px) {
    .fruits {
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
}

@media screen and (min-width:651px) and (max-width: 850px) {
    .fruits {
        display: grid;
    }
}